{{ if not ($.Page.Scratch.Get "MQTTForm") }}
{{ $.Page.Scratch.Set "MQTTForm" 1 }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert" id="connection">
      Disconnected<br>
      https://stackoverflow.com/questions/49418312/is-it-possible-to-connect-to-the-google-iotcore-mqtt-bridge-via-javascript<br>
      it is not possible to use JavaScript to connect to Cloud IoT Core. This is because Cloud IoT Core doesn't currently support using WebSockets (which is what the JavaScript MQTT library uses) to connect to Cloud IoT Core.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="server">Server:</label>
      <input type="text" class="form-control" id="server" value="mqtt.googleapis.com">
    </div>
    <div class="form-group">
      <label for="port">Port:</label>
      <input type="text" class="form-control" id="port" value="8883">
    </div>
    <button id="connectBtn" class="btn btn-primary">Connect</button>
  </div>
</div>

<script type="text/javascript" language="javascript">

  var mqttClient;
  var reconnectTimeout = 2000;
  var host;
  var port;

  $("#connectBtn").click(function () {
    host = $("#server").val();
    port = parseInt($("#port").val());
    console.log(host);
    console.log(port);
    MQTTConnect();
  });

  function MQTTConnect() {
    console.log("Connecting to " + host + ":" + port);
    mqttClient = new Paho.MQTT.Client(host, port, "clientjs");
    // set callback handlers
    mqttClient.onConnectionLost = onConnectionLost;
    mqttClient.onMessageArrived = onMessageArrived;
    $("#connection").removeClass("alert-danger alert-success").addClass("alert-warning").html("Connecting");
    var options = {
      timeout: 3,
      useSSL: true,
      onSuccess: onConnect,
      onFailure: onDisconnect,
    };
    mqttClient.connect(options);
  }

  function onConnect() {
    // Once a connection has been made, make a subscription and send a message
    console.log("Connected");
    $("#connection").removeClass("alert-warning alert-danger").addClass("alert-success").html("Connected");
  }

  function onDisconnect(response) {
    console.log("Disconnected");
    console.log(response);
    $("#connection").removeClass("alert-warning alert-success").addClass("alert-danger").html("Disconnected");
  }

  // called when the client loses its connection
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:" + responseObject.errorMessage);
    }
  }

  // called when a message arrives
  function onMessageArrived(message) {
    console.log("onMessageArrived:" + message.payloadString);
  }
</script>
{{ end }}