{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

